Shree Ganeshay Namah
<div class="body">
  <header class="navbar-expand-md main-header fixed-top bg-white animate-header">
    <div class="custom-main-header border-bottom"
      style="display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; align-items: center;padding-left: 0 !important;">
        <div class="mr-2">
          <a role="link" title="medPlus Mart" href="home"><img src="../assets/NavBar/MedPlusMart.svg" alt="MedPlusMart"
              height="40"></a>
        </div>
        <div style="width: 33%;">
          <h6
            style="margin: 0 !important; display:flex; align-items: center; font-size: .75rem;justify-content:left;line-height: 1.45;">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-geo-alt"
              viewBox="0 0 16 16">
              <path
                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
            <div class="text-truncate pointer  px-3"
              style="padding-right: 1rem !important; padding-left: 1rem !important;" id="locationTooltip">11-6-56,
              Bhavani Nagar, Moosapet, Hyderabad, Balanagar-Ida, Telangana 500018, India
              <br><small>Home Delivery & Store Pickup Available</small>
              <div class="locationTooltipShow">
                Hi Bhavani Nagar, Moosapet, Hyderabad, Balanagar-Ida, Telangana 500018, India
              </div>
            </div>
          </h6>
        </div>
      </div>
      <div class="navright" style="display: flex; justify-content:center;align-items: center;">
        <div class="navright-1">
          <a routerLink="admin">OnlyForAdmin</a> 
        </div>
        <div class="navright-1">
          <button class="btn btn-outline-info">Quick Order</button>
        </div>
        <div class="navright-1">
          IMG
        </div>
        <div class="navright-1" routerLink="cart">
       
            <svg style="margin:0 5px;position:relative;top:11px" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
          <div style="position: relative;bottom:21px;left: 11px;border: 1px solid red;width: 21px;height: 15px;border-radius: 7px;background-color: red;color: white;display: flex;justify-content: center;align-items: center;">
            {{addToCartItemsCount}}
          </div>
          
        </div>
        <div class="navright-1">
          IMG
        </div>
        <div class="navright-1">
          <a routerLink="signIn">Login/Sign Up</a> 
        </div>
      </div>
    </div>
    <div class="bg-light" style="align-items: center; display: flex;flex-wrap: wrap;">
      <ul style="display: flex">
        <div class="mega-dropdown">
          <a style="text-decoration: none;color: #e71c37!important;" href="#">
            <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
            Health Store
          </a>
          <div class="dropdown-content" style="overflow: auto; margin-top: 0.5rem;">
            <div style="width: 100%;">
              <div class="column" style="padding:0.625rem">
                <a href="" class="text-dark-80">Health Store</a>
                <a href="">Factory Direct
                  <div class="dropdown-content-sub">
                    <div class="dropdown-sub-row">
                      <ul>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>1hgvcjhsvmchgshjchvsdhvh</li>
                        <li>11111hgvcjhsvmchgshjchvsdhvh</li>
                      </ul>
                    </div>
                  </div>
                </a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="">Factory Direct</a>
                <a href="" class="text-dark-80">Health Store</a>
                <a href="" class="text-dark-80">Health Store</a>
                <a href="" class="text-dark-80">Health Store</a>
                <a href="" class="text-dark-80">Health Store</a>
                <a href="" class="text-dark-80">Health Store</a>
                <a href="" class="text-dark-80">Health Store</a>
                <a href="" class="text-dark-80">Health Store7</a>
              </div>

            </div>
          </div>
        </div>
        <div class="nav-scroll" style="display: flex;">
          <li class="nav-item dropdown">
            <a class="text-dark-80" href="">Pharmasy</a>
            <a class="text-dark-80" href="">Dignostics</a>
            <a class="text-dark-80" href="">Dignostics</a>
            <a class="text-dark-80" href="">Doctors</a>
            <a class="text-dark-80" href="">Medplus Advantage</a>
            <a class="text-dark-80" href="">Medplus payback points</a>
            <a class="text-dark-80" href="">Opportunities</a>
            <a class="text-dark-80" href="">Healthy Life</a>
          </li>
        </div>
      </ul>
    </div>
  </header>
</div>
<br><br><br>
  <!-- <app-home></app-home> -->
   <router-outlet></router-outlet>


